@import "~bootstrap/scss/bootstrap";

.ganykla {
  text-align: center;
  padding: 20px;

  button {
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }

  .laukas {
    display: flex;
    justify-content: space-around;
    border: 2px solid #000;
    padding: 20px;
    background-color: #f0f0f0;

    // .karviu-puse, .aviu-puse {

    // }

    .karve,
    .avis {
      display: inline-block;
      margin: 5px;
      padding: 20px;
      cursor: pointer;
      font-weight: bold;
    }

    .karve {
      width: 75px;
      height: 75px;
      background-color: steelblue;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .avis {
      width: 75px;
      height: 75px;
      background-color: orchid;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
}